{% extends 'base.html.twig' %}

{% block title %}Pogodynka website{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .box {outline-style:solid; width:50%; padding: 0.2rem 1rem;}
        .side-box {position: absolute; top: 2.5rem; right: 2.5rem; }
    </style>

    <div class="example-wrapper">
        <h1>Homepage</h1>
        <div class="side-box">
            {% if not is_granted('IS_AUTHENTICATED_FULLY')%}
            <a href="/login">Log in</a>
            {% endif %}
            <a href="/logout">Logout</a>
        </div>
        <div class="box">
            <h2>Check the weather</h2>
            {{ form(searchForm) }}

        </div>
        <br>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="box">
            <h2>Add a city</h2>
            {{ form(cityForm) }}
            {% for message in app.flashes('city-success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="box">
            <h2>Add a measurement</h2>
            {{ form(measurementForm) }}
            {% for message in app.flashes('weather-success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}